.admin__general__card .card-body .badge label:last-child{
    color: orange;
}
.admin_image{
    width: 10rem !important;
    text-align: center !important;
    margin: 0 auto ;
}
.admin__general__card .card-body button{
    width: 100%;
}
.admin__digit{
    margin-bottom: 7rem;
}
.admin__imgUpdate{
    cursor: pointer;
    margin:auto;
    left: 0;
    right: 0;
    object-fit: cover;
    object-position: center;
}
.admin__button-save{
    text-align: center !important;
}
@media only screen and (max-device-width: 640px){
    .admin__member{
    width: 1000px !important;
    }
}