.ResetPassword-card{
    background-color: rgba(233, 220, 220, 0.829);
    border-radius: 2rem;
}
.ResetPassword-div-lead{
    color: black;
    font-size: 1.2rem;
    font-weight: 800;
}
.ResetPassword-div-h2{
    color: rgb(239, 255, 8);
    font-size: 2rem;
    font-weight: 900;
}
.ResetPassword-button{
    font-weight: 900;
    font-size: 1rem;
    background-color: hsl(202, 69%, 32%);
    color: #fff;
}
@media only screen and (max-device-width: 640px){
    .ResetPassword-div-lead{
        color: rgba(236, 241, 243, 0.884);
        font-size: 1.2rem;
        font-weight: 800;
    }
    .ResetPassword-div-h2{
        color: rgb(239, 255, 8);
        font-size: 2rem;
        font-weight: 900;
    }
    .ResetPassword-button{
        font-weight: 900;
        font-size: 1rem;
        background-color: hsl(202, 69%, 32%);
        color: #fff;
    }
}
